.btn-alter-type-category {
	cursor: pointer;
	color: #ea1d2c;
	font-weight: bold;
}

.btn-steps button {
	margin-right: 10px;
	padding: 5px 35px;
}

button mat-icon {
	vertical-align: middle;
}

.example-section {
	margin: 0;
}

.example-margin {
	margin: 0 12px;
}

ul {
	list-style-type: none;
	margin-top: 4px;
}
