kt-timeline2, kt-widget4 {
  max-height: 250px;
  overflow: auto;
}

.refresh-button {
  vertical-align: middle;
  display: inline-grid;
  margin: auto;
  text-align: center;
}

.flaticon-refresh {
  font-size: 18px;
}

.kt-widget4__title {
  cursor: pointer;
}