<div class="row">
	<div class="col-md-6 col-sm-12">
		<apx-chart
			[series]="chartOptions.series"
			[stroke]="chartOptions.stroke"
			[chart]="chartOptions.chart"
			[xaxis]="chartOptions.xaxis"
			[colors]="chartOptions.colors"
		></apx-chart>
	</div>

	<div class="col-md-6 col-sm-12">
		<apx-chart
			[series]="chartOptions.series"
			[stroke]="chartOptions.stroke"
			[chart]="chartOptions.chart"
			[dataLabels]="chartOptions.dataLabels"
			[fill]="chartOptions.fill"
			[xaxis]="chartOptions.xaxis"
			[colors]="chartOptions.colors"
		></apx-chart>
	</div>
</div>
