HOST=notification-microservice
PORT=8200
PRODUCTION=false

# MongoDB
DB_HOST=admin-mongodb
DB_PORT=27017
DB_DATABASE=ecbr

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Firebase
FIREBASE_databaseURL=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_PATH=/usr/src/app/firebase-adminsdk.json

# Auth
APP_KEY=
JWT_SECRET=dev-jwt-secret-key

VERSION_IN_TEST=
