.table-braspag-transactions {
  overflow-x: scroll;
  display: grid;
}

.col-header-payment {
  min-width: 250px;
}

.col-payment {
  display: inline-block;
  min-width: 250px;
}

.cardBrand {

}

.paymentId {

}