.ml-10 {
	margin-left: 10px;
}

.btn.btn-info {
	min-width: 200px;
}

.mt-15 {
	margin-top: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.ml-15 {
	margin-left: 15px;
}

.modal-liberation-order .modal-dialog {
	height: 100vh;
	display: flex;
	align-items: center;
}
