<div class="container mt-3">
	<div class=" col-12">
		<div class="card">
			<div class="card-header">
				<b>Nova Empresa</b>
			</div>
			<div class="card-body" *ngIf="franchise" >
				<div class="row" *ngIf="registration" >
					<h3>Parabéns, seu cadastro foi realizado com sucesso, aguarde ser aprovado por um administrador</h3>
				</div>

				<form [formGroup]="formData" (ngSubmit)="formSubmitAttempt=true; formData.valid && createCompany(formData.value)" *ngIf="!registration" >
					<div class="row">
						<div class="form-group col-12">
							<label for="franchise">Imagem</label>
							<div class="input-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)" multiple
										[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('file').invalid}">
									<label class="custom-file-label" for="customFile" id="customFileLabel">Selecionar imagem</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-5">
							<label for="name">Nome</label>
							<div class="input-group">
								<input required class="form-control" formControlName="name"
									[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('name').invalid}">
							</div>
						</div>
						<div class="form-group col-4">
							<label for="phone">Telefone</label>
							<div class="input-group">
								<input class="form-control" mask="(00) 00009-0000" formControlName="phone"
									[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('phone').invalid}">
							</div>
						</div>
						<div class="form-group col-3">
							<label for="cnpj">CPF/CNPJ</label>
							<div class="input-group">
								<input class="form-control" mask="CPF_CNPJ" formControlName="cnpj"
									[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('cnpj').invalid}">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-12">
							<label for="description">{{ 'GLOBAL.LABEL.DESCRIPTION' | translate }}</label>
							<div class="input-group">
								<textarea class="form-control" formControlName="description"
									[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('description').invalid}"></textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-6">
							<label for="address">{{ 'GLOBAL.LABEL.ADDRESS' | translate }}</label>
							<div class="input-group">
								<input class="form-control" formControlName="address" type="text"
									[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('address').invalid}">
							</div>
						</div>
						<div class="form-group col-3">
							<label for="lat">Lat</label>
							<div class="input-group">
								<input class="form-control" formControlName="lat" type="number"
									[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('lat').invalid}">
							</div>
						</div>
						<div class="form-group col-3">
							<label for="lng">Lng</label>
							<div class="input-group">
								<input class="form-control" formControlName="lng" type="number"
									[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('lng').invalid}">
							</div>
						</div>
					</div>

					<!-- <div class="row">
						<div class="form-group col-8">
							<label>{{ 'GLOBAL.LABEL.GROUPS' | translate }}</label>
							<div class="input-group">
								<input type="text" class="form-control" matInput placeholder="Escolha um Grupo" [matAutocomplete]="autoGroup"
									formControlName="groups" [ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('groups').invalid}">
								<mat-autocomplete [displayWith]="displayFn" #autoGroup="matAutocomplete">
									<mat-option *ngFor="let group of groups" [value]="group">
										{{ group.name }}
									</mat-option>
								</mat-autocomplete>
							</div>
						</div>
					</div> -->

					<div class="row">
						<div class="form-group col-4">
							<label>{{ 'GLOBAL.LABEL.SEGMENT' | translate }}</label>
							<div class="input-group">
								<input type="text" class="form-control" matInput placeholder="Escolha um Segment" [matAutocomplete]="autoSegment"
									formControlName="segment" [ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('segment').invalid}">
								<mat-autocomplete [displayWith]="displayFnSegment" #autoSegment="matAutocomplete">
									<mat-option *ngFor="let segment of segments" [value]="segment">
										{{ segment.name }}
									</mat-option>
								</mat-autocomplete>
							</div>
						</div>

						<div class="form-group col-4">
							<label class="col-12" for="shoppingFlow">Fluxo de Compra</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" formControlName="shoppingFlow" name="shoppingFlow" id="menu"
									value="MENU" [ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('shoppingFlow').invalid}">
								<label class="form-check-label" for="inlineRadio1">{{ 'MENU.RESTAURANTSONLINE.MENU' | translate
									}}</label>
							</div>

							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" formControlName="shoppingFlow" name="shoppingFlow" id="products"
									value="PRODUCT" [ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('shoppingFlow').invalid}">
								<label class="form-check-label" for="inlineRadio2">{{ 'GLOBAL.LABEL.PRODUCT' | translate }}</label>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-12">
							<label for="category">{{ 'GLOBAL.LABEL.CATEGORY' | translate }}</label>
							<div class="input-group">
								<mat-chip-list #chipList aria-label="Seleção de Categoria">
									<mat-chip *ngFor="let categoria of categoriaList" [selectable]="selectable" [removable]="removable"
										(removed)="removeCategoria(categoria)">
										{{categoria}}
										<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
									</mat-chip>
									<input placeholder="Nova Categoria..." [matChipInputFor]="chipList"
										[matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addCategoria($event)">
								</mat-chip-list>
							</div>
							<div class="form-group">
								<br>
								<strong>Restaurantes:</strong> burguer, pizza, acai, fretegratis, promocoes, doces, bolos, salgados,
								pastel, sorvete, brasileira
								<br><br>
								<strong>Supermercados:</strong> acougue, express, fretegratis, promocoes, frios, laticinios, limpeza,
								mercearia, bebidas, congelados,
								<p style="margin-left: 14%;"> hortifruti, snaks, padaria, higiene pessoal, pets, acessorios, pescados,
									bazar, sazonal</p>
							</div>
						</div>
					</div>

					<div class="row">
						<input type="submit" value="Enviar" class="btn btn-primary col-4" *ngIf="!load" >
						<div class=" spinner-border m-5" role="status" *ngIf="load">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
