<div class="row justify-content-between">
	<div class="col align-self-center mb-2">
		<h5>
			<p class="float-left"><b>Vouchers</b></p>
		</h5>
		<div style="margin-left: 15px;display: table-caption;margin-top: -5px;">
			<a target="_blank" [href]="helpdeskUrl">
				<span class="navmenu-help-icon"><i class="fa fa-question-circle"></i></span>
			</a>
		</div>
	</div>
	<div class="col-auto">
		<a (click)="upSertModalShow(upsertmodal, undefined)" href="javascript:;"
			class="float-right btn btn-label-warning btn-bold btn-sm btn-icon-h">
			{{ 'GLOBAL.LABEL.CREATE' | translate }}
		</a>
	</div>
</div>

<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource">
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<mat-header-cell *matHeaderCellDef>
				<mat-checkbox [checked]="true" [indeterminate]="true">
				</mat-checkbox>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()">
				</mat-checkbox>
			</mat-cell>
		</ng-container>



		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.NAME' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
		</ng-container>

		<!-- code Column -->
		<ng-container matColumnDef="code">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.CODE' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
		</ng-container>

		<!-- value Column -->
		<ng-container matColumnDef="value">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.VALUE' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ currencySymbol }} {{ element.valueFormated }} </mat-cell>
		</ng-container>

		<!-- limit Column -->
		<ng-container matColumnDef="limit">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.LIMIT' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.limit }} </mat-cell>
		</ng-container>


		<!-- dateInit Column -->
		<ng-container matColumnDef="dateInit">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.DATEINIT' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.dateInitFormated }} </mat-cell>
		</ng-container>


		<!-- dateFinish Column -->
		<ng-container matColumnDef="dateFinish">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.DATEFINISH' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.dateFinishFormated }} </mat-cell>
		</ng-container>

		<!-- Status Column -->
		<ng-container matColumnDef="status">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.STATUS' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<i *ngIf="element.status === true" class="flaticon2-accept mr-2"></i>
				<i *ngIf="element.status === false" class="flaticon2-cancel mr-2"></i>
			</mat-cell>
		</ng-container>
		<!-- Delete -->
		<ng-container matColumnDef="delete">
			<mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.LABEL.ACTION' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<i class="flaticon2-edit mr-2" (click)="upSertModalShow(upsertmodal, element, 'edit')"></i>
				<i class="flaticon2-trash" (click)="confirmDeleteModalShow(confirmdeletemodal, element)"></i>
			</mat-cell>/
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;">
		</mat-row>
	</mat-table>
	<mat-paginator [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="pageLimit" (page)="changePage($event)">
	</mat-paginator>

	<!-- Modal up sert Type Payments -->
	<ng-template #upsertmodal let-modal modal-lg>
		<form [formGroup]="formData" (ngSubmit)="formSubmit=true; formData.valid && upSert(formData.value)">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-create">{{ (typeAction === 'create') ?
					('GLOBAL.LABEL.CREATE' | translate) : ('GLOBAL.LABEL.EDIT' | translate) }}
				</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" class="form-control" formControlName="_id">
				<div class="row">

					<div class="form-group col-6">
						<label for="name">{{ 'GLOBAL.LABEL.NAME' | translate }}</label>
						<div class="input-group">
							<input class="form-control" formControlName="name"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('name').invalid}">
						</div>
					</div>

					<div class="form-group col-6">
						<label for="code">{{ 'GLOBAL.LABEL.CODE' | translate }}</label>
						<div class="input-group">
							<input class="form-control" formControlName="code" style="text-transform: uppercase ;"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('code').invalid}">
						</div>
					</div>

					<div class="form-group col-6">
						<label for="value">{{ 'GLOBAL.LABEL.VALUE' | translate }}</label>
						<div class="input-group">
							<input class="form-control" currencyMask formControlName="value" [options]="optionsCurrencyMask"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('value').invalid}">
						</div>
					</div>

					<div class="form-group col-6">
						<label for="limit">{{ 'GLOBAL.LABEL.LIMIT' | translate }}</label>
						<div class="input-group">
							<input class="form-control" formControlName="limit" type="number"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('limit').invalid}">
						</div>
					</div>

					<div class="form-group col-6">
						<label for="dateInit">{{ 'GLOBAL.LABEL.DATEINIT' | translate }}</label>
						<div class="input-group">
							<input class="form-control" formControlName="dateInit" type="datetime-local"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('dateInit').invalid}">
						</div>
					</div>

					<div class="form-group col-6">
						<label for="dateFinish">{{ 'GLOBAL.LABEL.DATEFINISH' | translate }}</label>
						<div class="input-group">
							<input class="form-control" formControlName="dateFinish" type="datetime-local"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('dateFinish').invalid}">
						</div>
					</div>

					<div class="form-group col-12">
						<label for="status">{{ 'GLOBAL.LABEL.STATUS' | translate }}</label>
						<div class="input-group">
							<mat-slide-toggle formControlName="status"></mat-slide-toggle>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" value="{{ 'GLOBAL.LABEL.SAVE' | translate }}" class="btn btn-outline-dark">
				</div>
			</div>
		</form>
	</ng-template>
</div>

<!-- Modal Delete   -->
<ng-template #confirmdeletemodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-delete" *ngIf="formData && formData.value && formData.value.name">
			{{formData.value.name}}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" class="btn btn-warning">
		{{ 'GLOBAL.LABEL.AREYOUSUREYOUWANTTODELETE' | translate }}
	</div>
	<div class="modal-footer">
		<button type="button" (click)="idToDelete=undefined; modal.dismiss('Cross click')" class="btn btn-secondary"
			data-dismiss="modal">{{ 'GLOBAL.LABEL.CANCEL' | translate }}</button>
		<button type="button" (click)="delete()" class="btn btn-primary">{{
			'GLOBAL.LABEL.YES' | translate }}</button>
	</div>
</ng-template>
