<!-- Alert -->
<p>
	<ngb-alert *ngIf="alert" [type]="alert.type" (close)="closeAlert()">
		{{ alert.message }}
	</ngb-alert>
</p>

<div class="row justify-content-between">
	<div class="col-auto align-self-center mb-2">
		<p class="float-left">{{ 'GLOBAL.LABEL.CAMPAIGNS' | translate }}</p>
	</div>
	<div class="col-auto">
		<a (click)="upSertModalShow(upsertmodal, undefined)" href="javascript:;"
			class="float-right btn btn-label-warning btn-bold btn-sm btn-icon-h">
			{{ 'GLOBAL.LABEL.CREATE' | translate }}
		</a>
	</div>
</div>


<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource">
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<mat-header-cell *matHeaderCellDef>
				<mat-checkbox [checked]="true" [indeterminate]="true">
				</mat-checkbox>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()">
				</mat-checkbox>
			</mat-cell>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.NAME' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
		</ng-container>

		<!-- Ammout Column -->
		<ng-container matColumnDef="amount">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.TOTAL' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.amount2 }} </mat-cell>
		</ng-container>

		<!-- Balance Column -->
		<ng-container matColumnDef="balance">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.BALANCE' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.balance2 }} </mat-cell>
		</ng-container>

		<!-- Status Column -->
		<ng-container matColumnDef="status">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.STATUS' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<i *ngIf="element.status === true" class="flaticon2-accept mr-2"></i>
				<i *ngIf="element.status === false" class="flaticon2-cancel mr-2"></i>
			</mat-cell>
		</ng-container>
		<!-- Delete -->
		<ng-container matColumnDef="delete">
			<mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.LABEL.ACTION' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<i class="flaticon2-edit mr-2" (click)="upSertModalShow(upsertmodal, element, 'edit')"></i>
				<i class="flaticon2-trash" (click)="confirmDeleteModalShow(confirmdeletemodal, element)"></i>
				<a target="_blank" [href]="'/cashbask/received/' + element._id" title="Histórico">
					<i class="flaticon2-list-2" style="margin-left: 5px; color: black;"></i>
				</a>

			</mat-cell>/
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;">
		</mat-row>
	</mat-table>
	<mat-paginator [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="pageLimit" (page)="changePage($event)">
	</mat-paginator>

	<!-- Modal up sert Type Payments -->
	<ng-template #upsertmodal let-modal modal-lg>
		<form [formGroup]="formData" (ngSubmit)="formSubmit=true; formData.valid && upSert(formData.value)"
			onkeydown="return event.key != 'Enter';">
			<div class=" modal-header">
				<h4 class="modal-title" id="modal-create">{{ (typeAction === 'create') ?
					('GLOBAL.LABEL.CREATE' | translate) : ('GLOBAL.LABEL.EDIT' | translate) }}
				</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" class="form-control" formControlName="_id">
				<div class="row">

					<div class="form-group col-12">
						<label for="name">{{ 'GLOBAL.LABEL.NAME' | translate }}</label>
						<div class="input-group">
							<input class="form-control" formControlName="name"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('name').invalid}">
						</div>
					</div>

				</div>



				<div class="row">
					<div class="form-group col-6">
						<label for="startDate">{{ 'GLOBAL.LABEL.STARTDATE' | translate }}</label>
						<div class="input-group">
							<input mask="d0/M0/0000" class="form-control" formControlName="startDate"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('startDate').invalid}">
						</div>
					</div>
					<div class="form-group col-6">
						<label for="endDate">{{ 'GLOBAL.LABEL.ENDDATE' | translate }}</label>
						<div class="input-group">
							<input mask="d0/M0/0000" class="form-control" formControlName="endDate"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('endDate').invalid}">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-md-6 col-lg-6 col-sm-12 col-xs-12">
						<label class="" for="amount">{{ 'GLOBAL.LABEL.TOTAL' | translate }}</label>
						<div class="input-group">
							<input class="form-control" currencyMask formControlName="amount"
								[attr.disabled]="typeAction !== 'create' ? '' : null"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('amount').invalid}">
						</div>
					</div>
					<div class="form-group  col-md-6 col-lg-6 col-sm-12 col-xs-12">
						<label class="" for="percent">{{ 'GLOBAL.LABEL.PERCENTAGE' | translate }}</label>
						<div class="input-group">
							<input class="form-control" formControlName="percent"
								[attr.disabled]="typeAction !== 'create' ? '' : null"
								[ngClass]="{'is-invalid' : formSubmit && formData.get('percent').invalid}">
						</div>
					</div>
				</div>

				<div class="row">


					<div class="form-group col-6">
						<label for="status">{{ 'GLOBAL.LABEL.STATUS' | translate }}</label>
						<div class="input-group">
							<mat-slide-toggle formControlName="status"></mat-slide-toggle>
						</div>
					</div>

					<div class="form-group col-6">
						<label for="allApp">{{ 'GLOBAL.LABEL.ALLAPP' | translate }}</label>
						<div class="input-group">
							<mat-slide-toggle (change)="toggleAllApp($event)" formControlName="allApp"></mat-slide-toggle>
						</div>
					</div>

				</div>

				<div *ngIf="!allApp&&!isRoot">
					<div class="row form-group">
						<div class="col-9">
							<h6>Vincular empresas na campanha:</h6>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-sm btn-info" (click)="addNewCompany()">
								<span aria-hidden="true">Inserir nova empresa</span>
							</button>
						</div>
					</div>

					<div class="row" *ngFor="let companyList of formData.get('companies').controls; index as i">
						<ng-container [formGroup]="companyList">
							<div class="form-group col-6">
								<label for="companies">{{ 'GLOBAL.LABEL.COMPANY' | translate }}</label>
								<div class="input-group">
									<input type="text" class="form-control" matInput placeholder="Escolha uma Empresa"
										[matAutocomplete]="autoCompany" formControlName="companies"
										[ngClass]="{'is-invalid' : formSubmitCoupon && companyList.get('companies').invalid}">
									<mat-autocomplete [displayWith]="displayFn" #autoCompany="matAutocomplete">
										<mat-option *ngFor="let comp of companiesList[i]" [value]="comp">
											{{ comp.name }}
										</mat-option>
									</mat-autocomplete>
								</div>
							</div>
							<div class="form-group text-center col-2">
								<label class="col-12">{{ 'GLOBAL.LABEL.ACTION' | translate }}</label>
								<button (click)="removeCompany(i)" mat-mini-fab color="warn"
									class="col-12 mat-mini-fab mat-button-base mat-accent">
									<span class="mat-button-wrapper">
										<mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
											aria-hidden="true">
											delete
										</mat-icon>
									</span>
									<div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple>
									</div>
									<div class="mat-button-focus-overlay">
									</div>
								</button>
							</div>
						</ng-container>
					</div>
				</div>

				<div *ngIf="!allApp&&isRoot">
					<div class="row form-group">
						<div class="col-9">
							<h6>Vincular franquias na campanha:</h6>
						</div>
						<div class="col-3">
							<button type="button" class="btn btn-sm btn-info" (click)="addNewFranchise()">
								<span aria-hidden="true">Inserir nova franquia</span>
							</button>
						</div>
					</div>

					<div class="row" *ngFor="let franchiseList of formData.get('franchises').controls; index as i">
						<ng-container [formGroup]="franchiseList">
							<div class="form-group col-6">
								<label for="franchises">{{ 'GLOBAL.LABEL.FRANCHISE' | translate }}</label>
								<div class="input-group">
									<input type="text" class="form-control" matInput placeholder="Escolha uma Franquia"
										[matAutocomplete]="autoFranchise" formControlName="franchises"
										[ngClass]="{'is-invalid' : formSubmitCoupon && franchiseList.get('franchises').invalid}">
									<mat-autocomplete [displayWith]="displayFn" #autoFranchise="matAutocomplete">
										<mat-option *ngFor="let fran of franchisesList[i]" [value]="fran">
											{{ fran.name }}
										</mat-option>
									</mat-autocomplete>
								</div>
							</div>
							<div class="form-group text-center col-2">
								<label class="col-12">{{ 'GLOBAL.LABEL.ACTION' | translate }}</label>
								<button (click)="removeFranchise(i)" mat-mini-fab color="warn"
									class="col-12 mat-mini-fab mat-button-base mat-accent">
									<span class="mat-button-wrapper">
										<mat-icon class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
											aria-hidden="true">
											delete
										</mat-icon>
									</span>
									<div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple>
									</div>
									<div class="mat-button-focus-overlay">
									</div>
								</button>
							</div>
						</ng-container>
					</div>
				</div>

				<div class="modal-footer">
					<input type="submit" value="Salvar" class="btn btn-outline-dark">
				</div>
			</div>
		</form>
	</ng-template>
</div>

<!-- Modal Delete   -->
<ng-template #confirmdeletemodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-delete" *ngIf="formData && formData.value && formData.value.name">
			{{formData.value.name}}
		</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" class="btn btn-warning">
		{{ 'GLOBAL.LABEL.AREYOUSUREYOUWANTTODELETE' | translate }}
	</div>
	<div class="modal-footer">
		<button type="button" (click)="idToDelete=undefined; modal.dismiss('Cross click')" class="btn btn-secondary"
			data-dismiss="modal">{{ 'GLOBAL.LABEL.CANCEL' | translate }}</button>
		<button type="button" (click)="delete() && modal.dismiss('Cross click')" class="btn btn-primary">{{
			'GLOBAL.LABEL.YES' | translate }}</button>
	</div>
</ng-template>
