<div class="container-fluid">
	<div class=" col-12">
		<div class="card">
			<div class="card-header">
				<b>Configurações Gerais</b>
			</div>

			<form [formGroup]="formData" (ngSubmit)="formSubmitAttempt=true; formData.valid && createGeneral(formData.value)">

				<div class="row col-12 mt-2">
					<div class="form-group col-12">
						<label>Franquia</label>
						<div class="input-group">
							<input type="text" class="form-control" matInput placeholder="Escolha um Franquia"
								[matAutocomplete]="autoFranchise" formControlName="franchise"
								[ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('franchise').invalid}">
							<mat-autocomplete [displayWith]="displayFn" #autoFranchise="matAutocomplete">
								<mat-option *ngFor="let franchise of franchises" [value]="franchise">
									{{ franchise.name }}
								</mat-option>
							</mat-autocomplete>
						</div>
					</div>
				</div>

				<div class="form-group col-12">
					<label for="status">Permitir que usuário de gorjeta para entregador ?</label>
					<div class="input-group">
						<mat-slide-toggle formControlName="activateTip"></mat-slide-toggle>
					</div>
				</div>

				<div class="row col-12 mb-3">
					<div class="col-12">
						<input type="submit" value="Salvar" class="btn btn-primary col-4" *ngIf="!load">
						<div class=" spinner-border m-5" role="status" *ngIf="load">
							<span class="sr-only">Loading...</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
