#Config
PORT=8300
PRODUCTION=false
LTS=v1
CURRENT=

# MongoDB
MONGO_CONNECT_TYPE=mongodb
URL_MONGO=mongodb://localhost:27017/ecbr
MONGO_ADMIN_USER=
MONGO_ADMIN_PASSWORD=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Firebase
FIREBASE_databaseURL=
CLOUD_FIREBASE_PROJECT_ID=

# Credentials
appToken=
appSecret=

# API
API_ECONOMIZE_BR=

# Auth
JWT_SECRET=dev-jwt-secret-key
