#Config
PORT=8400
PRODUCTION=false

#Version LTS and Current(optional)
LTS=v1
CURRENT=

#Database
MONGO_CONNECT_TYPE='mongodb'
URL_MONGO=mongodb://localhost/mobility
MONGO_ADMIN_USER=
MONGO_ADMIN_PASSWORD=

# Database Postgress
PG_USER=
PG_PASSWORD=
PG_HOST=
PG_PORT=
PG_DATABASE=

#Credential
appToken=KDxTKtzRQEkKu23ynXEp+ZIHZCV9qX41/rkBsD//SIfttWwjLGclvyutwwctTgAgXNiGgKmbXV+0d6Ny3QLi/lU3t2xXwxmHawlXtTdCtfskwPTxqQvDIDINscZ68n1vOqYw9qwSAMLUbs0nsUEWsOfkX9Kc29J1
appSecret=2+AstA1jXX+I7HWuTnTqb+P3e0REEIad7adzuW5Zz97uzBCxeKQ/l1nFJDhKjHI1rR/H3enyDwpjz2bduK1p/pBchS4vUAMXS9afthhFbxTWqZQUZOTML/te1jnSOVjIMtxmgcF5ekOSFAcGu9N8Bu+ezyPsT+mO

#Api EconomizeBR
API_ECONOMIZE_BR=

#API Cielo
API_CIELO_E_COMERCE=https://apisandbox.cieloecommerce.cielo.com.br
API_CIELO_E_COMERCE_QUERY=https://apiquerysandbox.cieloecommerce.cielo.com.br

#Merchant Cielo
MERCHANT_ID=
MERCHANT_KEY=

#Braspag
BRASPAG_CLIENT_ID=
BRASPAG_CLIENT_SECRET=
BRASPAG_OAUTH2_SERVER='https://authsandbox.braspag.com.br'
BRASPAG_SPLIT='https://splitsandbox.braspag.com.br'
