<div class="row justify-content-between">
	<div class="col-auto align-self-center mb-2">
		<p class="float-left">{{ 'GLOBAL.LABEL.ACCESSGROUPS' | translate }} </p>
	</div>
	<div class="col-auto">
		<a (click)="createAccessGroupModalShow(createaccessGroupmodal)" href="javascript:;" class="float-right btn btn-label-warning btn-bold btn-sm btn-icon-h">
			{{ 'GLOBAL.LABEL.CREATE' | translate }}
		</a>
	</div>
</div>

<!-- Alert -->
<p>
	<ngb-alert *ngIf="alert" [type]="alert.type" (close)="closeAlert()">
		{{ alert.message }}
	</ngb-alert>
</p>

<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource">
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<mat-header-cell *matHeaderCellDef>
				<mat-checkbox [checked]="true" [indeterminate]="true">
				</mat-checkbox>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()">
				</mat-checkbox>
			</mat-cell>
		</ng-container>
		<!-- name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.NAME' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
		</ng-container>
		<!-- modules Column -->
		<ng-container matColumnDef="modules">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.MODULES' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{ element.modules }} </mat-cell>
		</ng-container>
		<!-- Status Column -->
		<ng-container matColumnDef="status">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.STATUS' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<i *ngIf="element.status === true" class="flaticon2-accept mr-2"></i>
				<i *ngIf="element.status === false" class="flaticon2-cancel mr-2"></i>
			</mat-cell>
		</ng-container>
		<!-- Delete Slide -->
		<ng-container matColumnDef="delete">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.ACTION' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<!-- <i class="flaticon2-edit mr-2" (click)="editUserModalShow(editusermodal, element)"></i>
				<i class="flaticon2-trash" (click)="confirmDeleteModalShow(confirmdeletemodal, element)"></i> -->
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;">
		</mat-row>
	</mat-table>

	<!-- Apartir de aqui é o modal -->
	<!-- Modal Create Access Group -->
	<ng-template #createaccessGroupmodal let-modal modal-lg>
		<form *ngIf="formData" [formGroup]="formData" (ngSubmit)="formSubmitAttempt=true; createAccessGroup(formData.value); formData.valid && createAccessGroup(formData.value)">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-create-user">{{ 'GLOBAL.LABEL.CREATEACCESSGROUP' | translate }}</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="name">{{ 'GLOBAL.LABEL.NAME' | translate }}</label>
					<div class="input-group">
						<input class="form-control" formControlName="name" [ngClass]="{'is-invalid' : formSubmitAccessGroup && formData.get('name').invalid}">
					</div>
				</div>
				<div class="form-group">
					<label for="status">{{ 'GLOBAL.LABEL.STATUS' | translate }}</label>
					<div class="input-group">
						<mat-slide-toggle formControlName="status"></mat-slide-toggle>
					</div>
				</div>
				<div class="row" *ngFor="let module of formData.get('modules').controls; index as i">
					<ng-container [formGroup]="module">
						<mat-tree [dataSource]="module" [treeControl]="treeControl">
							<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
								<button mat-icon-button disabled></button>
								<mat-checkbox class="checklist-leaf-node">{{node.name}}</mat-checkbox>
							</mat-tree-node>
						</mat-tree>
					</ng-container>
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" value="Criar" class="btn btn-outline-dark">
			</div>
		</form>
	</ng-template>
