#SERVER
PORT=

#PRODUCTION
production=

PAYMENT_URL=
NOTIFICATION_URL=
INTEGRATION_URL=
PRODUCT_IMAGE_API=

#DOC
DOC_HOST=
DOC_TITLE="Toop Delivery"
DOC_DESCRIPTION="Customer API Information"
DOC_VERSION="1.0.0"

#JWT
JWT_SECRET=
JWT_SECRET_REFRESH=
JWT_TTL=
JWT_TTL_REFRESH=

#Database
MONGO_CONNECT_TYPE=
MONGO_ADMIN_USER=
MONGO_ADMIN_PASSWORD=
URL_MONGO=

# Spaces DigitalOcean (S3)
S3_SPACES_URL=
S3_SPACES_BUCKET_PRODUCTS=
S3_SPACES_BUCKET_PRODUCTS_FOLDER=
S3_SPACES_KEY=
S3_SPACES_SECRET=

#MONGO_CONNECT_TYPE=
#URL_MONGO=

PROVIDER_PAYMENT_CIELO=
PROVIDER_CIELO_FRAUDANALYSIS=
MERCHANT_ID=
MERCHANT_KEY=
API_CIELO_E_COMERCE=
API_CIELO_E_COMERCE_QUERY=


#Braspag
BRASPAG_CLIENT_ID=
BRASPAG_CLIENT_SECRET=
BRASPAG_OAUTH2_SERVER=
BRASPAG_SPLIT=

# Node Mailer
MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASSWORD=

# Redis
REDIS_HOTS=
REDIS_PORT=
REDIS_PASSWORD=

# in miles equal 8KM
# maxMiles = 4.97097
# maxMeters = 8000

# DeliveryMan (meters)
maxMetersDeliveryMan=10000

# Config Driver 8KM
MAX_DIST_DRIVER_MILES=4.97097
MAX_DIST_DRIVER=8000
WAITING_TIME_DRIVER=30
PRICE_MAX=20000

FIREBASE_apiKey=
FIREBASE_authDomain=
FIREBASE_databaseURL=
FIREBASE_projectId=
FIREBASE_storageBucket=
FIREBASE_messagingSenderId=
FIREBASE_appId=
FIREBASE_measurementId=

CLOUD_FIREBASE_TYPE=
CLOUD_FIREBASE_PROJECT_ID=
CLOUD_FIREBASE_private_key_id=
CLOUD_FIREBASE_private_key=
CLOUD_FIREBASE_client_email=
CLOUD_FIREBASE_client_id=
CLOUD_FIREBASE_auth_uri=
CLOUD_FIREBASE_token_uri=
CLOUD_FIREBASE_auth_provider_x509_cert_url=
CLOUD_FIREBASE_client_x509_cert_url=

GOOGLE_MAPS=
CLOUD_MESSAGING_TOKEN=
