<div class="row justify-content-between">
	<div class="col-auto align-self-center mb-2">
		<p class="float-left">{{ 'GLOBAL.LABEL.TICKETS' | translate }} </p>
	</div>
	<div class="col-auto">
		<a (click)="upSertTicketsModalShow(upsertticketmodal, undefined, 'create')" href="javascript:;"
			class="float-right btn btn-label-warning btn-bold btn-sm btn-icon-h">
			{{ 'GLOBAL.LABEL.CREATE' | translate }}
		</a>
	</div>
</div>

<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource">
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<mat-header-cell *matHeaderCellDef>
				<mat-checkbox [checked]="true" [indeterminate]="true">
				</mat-checkbox>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()">
				</mat-checkbox>
			</mat-cell>
		</ng-container>
		<!-- Protocolo Column -->
		<ng-container matColumnDef="tickedId">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.TICKEDID' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"
				[ngClass]="zebrarLine(element.position) + ' ' + getPriority(element.priority)"> {{
				element.tickedId }} </mat-cell>
		</ng-container>

		<!-- DATE Column -->
		<ng-container matColumnDef="date">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.DATE' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)"> {{ element.date | date:'dd/MM/yyyy
				HH:mm' }} </mat-cell>
		</ng-container>

		<!-- Pessoa Column -->
		<ng-container matColumnDef="person">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.PERSON' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)"> {{ (element.person &&
				element.person.name) ? element.person.name : '-' }}
			</mat-cell>
		</ng-container>

		<!-- Empresa Column -->
		<ng-container matColumnDef="company">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.COMPANY' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)"> {{ (element.company &&
				element.company.name) ? element.company.name : '-' }}
			</mat-cell>
		</ng-container>

		<!-- Departamento Column -->
		<ng-container matColumnDef="department">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.DEPARTMENT' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)"> {{ element.department | translate }}
			</mat-cell>
		</ng-container>

		<!-- Status Column -->
		<ng-container matColumnDef="status">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.STATUS' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)">
				{{ element.status | translate }}
			</mat-cell>
		</ng-container>

		<!-- Assunto Column -->
		<ng-container matColumnDef="subject">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.SUBJECT' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)"> {{ element.subject }} </mat-cell>
		</ng-container>

		<!-- Descrição Column -->
		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.DESCRIPTION' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)"> {{ element.description }}
			</mat-cell>
		</ng-container>


		<!-- Prioridade Column -->
		<ng-container matColumnDef="priority">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.PRIORITY' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)"> {{ element.priority || '-' |
				translate }} </mat-cell>
		</ng-container>


		<!-- Delete Modal -->
		<ng-container matColumnDef="delete">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.ACTION' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element" [ngClass]="zebrarLine(element.position)">
				<a target="_blank" [href]="'/helpdesk/tickets/' + element.tickedId">
					<i class="flaticon-eye mr-2"></i>
				</a>
				<i class="flaticon2-edit mr-2" (click)="upSertTicketsModalShow(upsertticketmodal, element, 'edit')"></i>
				<!--<i class="flaticon2-trash" (click)="confirmDeleteModalShow(confirmdeletemodal, element)"></i>-->
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;">
		</mat-row>
	</mat-table>
	<mat-paginator [length]="totalLength" [pageSize]="pageSize" [pageSizeOptions]="pageLimit" (page)="changePage($event)">
	</mat-paginator>

	<!-- Modal Up Sert created/updated -->
	<ng-template #upsertticketmodal let-modal>
		<form [formGroup]="formData" (ngSubmit)="formSubmitTickets=true; formData.valid && upSertTickets(formData.value)
         && modal.dismiss('Cross click')">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-create-tickets">{{ (typeAction === 'create') ? ('GLOBAL.LABEL.CREATETICKETS' |
					translate) : ('GLOBAL.LABEL.EDITTICKETS' | translate) }}</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" class="form-control" formControlName="_id">
				<div class="row">
					<div class="form-group col-6">
						<label for="tickedId">{{ 'GLOBAL.LABEL.TICKEDID' | translate }}</label>
						<div class="input-group">
							<input required class="form-control" readonly formControlName="tickedId"
								[ngClass]="{'is-invalid' : formSubmitTickets && formData.get('tickedId').invalid}">
						</div>
					</div>
					<div class="form-group col-6">
						<label for="subject">{{ 'GLOBAL.LABEL.SUBJECT' | translate }}</label>
						<div class="input-group">
							<input required class="form-control" formControlName="subject"
								[ngClass]="{'is-invalid' : formSubmitTickets && formData.get('subject').invalid}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-12">
						<label for="description">{{ 'GLOBAL.LABEL.DESCRIPTION' | translate }}</label>
						<div class="input-group">
							<textarea required class="form-control" formControlName="description"
								[ngClass]="{'is-invalid' : formSubmitTickets && formData.get('description').invalid}"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-6">
						<label for="person">{{ 'GLOBAL.LABEL.PERSON' | translate }}</label>
						<div class="input-group">
							<input type="text" class="form-control" matInput placeholder="Escolha uma pessoa"
								[matAutocomplete]="autoPerson" formControlName="person"
								[ngClass]="{'is-invalid' : formSubmitTickets && formData.get('person').invalid}">
							<mat-autocomplete [displayWith]="displayFnPerson" #autoPerson="matAutocomplete">
								<mat-option *ngFor="let persons of listPerson" [value]="persons">
									{{ persons.name }}
								</mat-option>
							</mat-autocomplete>
						</div>
					</div>
					<div class="form-group col-6">
						<label>{{ 'GLOBAL.LABEL.COMPANY' | translate }}</label>
						<div class="input-group">
							<input type="text" class="form-control" matInput placeholder="Escolha uma empresa"
								[matAutocomplete]="autoCompany" formControlName="company"
								[ngClass]="{'is-invalid' : formSubmitTickets && formData.get('company').invalid}">
							<mat-autocomplete [displayWith]="displayFnCompany" #autoCompany="matAutocomplete">
								<mat-option *ngFor="let companies of appcompanies" [value]="companies">
									{{ companies.name }}
								</mat-option>
							</mat-autocomplete>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-4">
						<label for="priority">{{ 'GLOBAL.LABEL.PRIORITY' | translate }}</label>
						<div class="input-group">
							<select required class="form-control" formControlName="priority"
								[ngClass]="{'is-invalid' : formSubmitTickets && formData.get('priority').invalid}">
								<option value="LOW">Baixo</option>
								<option value="MEDIUM">Médio</option>
								<option value="HIGH">Alto</option>
							</select>
						</div>
					</div>
					<div class="form-group col-4">
						<label for="department">{{ 'GLOBAL.LABEL.DEPARTMENT' | translate }}</label>
						<div class="input-group">
							<select required class="form-control" formControlName="department"
								[ngClass]="{'is-invalid' : formSubmitTickets && formData.get('department').invalid}">
								<option value="ADMINISTRATIVE">Adminsitrativo</option>
								<option value="COMMERCIAL">Comercial</option>
								<option value="MARKETING">Marketing</option>
								<option value="FINANCIAL">Financeiro</option>
								<option value="SUPPORT">Suporte</option>
								<option value="TI">TI</option>
							</select>
						</div>
					</div>
					<div class="form-group col-4">
						<label for="status">{{ 'GLOBAL.LABEL.STATUS' | translate }}</label>
						<div class="input-group">
							<select required class="form-control" formControlName="status"
								[ngClass]="{'is-invalid' : formSubmitTickets && formData.get('status').invalid}">
								<option value="NEW">Novo</option>
								<option value="IN_PROGRESS">Em andamento</option>
								<option value="ON_HOLD">Em espera</option>
								<option value="SOLVED">Resolvido</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" value="Criar" class="btn btn-outline-dark">
			</div>
		</form>
	</ng-template>

	<!-- Modal Delete -->
	<ng-template #confirmdeletemodal let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-delete-tickets">
				Confirmar exclusão</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" class="btn btn-warning">
			{{ 'GLOBAL.LABEL.AREYOUSUREYOUWANTTODELETE' | translate }}
		</div>
		<div class="modal-footer">
			<button type="button" (click)="ticketsIdToDelete=undefined; modal.dismiss('Cross click')"
				class="btn btn-secondary" data-dismiss="modal">{{ 'GLOBAL.LABEL.CANCEL' | translate }}</button>
			<button type="button" (click)="deleteTickets() && modal.dismiss('Cross click')" class="btn btn-primary">{{
				'GLOBAL.LABEL.YES' | translate }}</button>
		</div>
	</ng-template>
