<div class="row justify-content-between">
	<div class="col-auto align-self-center mb-2">
		<p class="float-left">{{ 'GLOBAL.LABEL.MODULE' | translate }} </p>
	</div>
	<div class="col-auto">
		<a (click)="createModuleModalShow(createmodulemodal)" href="javascript:;" class="float-right btn btn-label-warning btn-bold btn-sm btn-icon-h">
			{{ 'GLOBAL.LABEL.CREATE' | translate }}
		</a>
	</div>
</div>

<!-- Alert -->
<p>
	<ngb-alert *ngIf="alert" [type]="alert.type" (close)="closeAlert()">
		{{ alert.message }}
	</ngb-alert>
</p>

<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource">
		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
			<mat-header-cell *matHeaderCellDef>
				<mat-checkbox [checked]="true" [indeterminate]="true">
				</mat-checkbox>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()">
				</mat-checkbox>
			</mat-cell>
		</ng-container>
		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.NAME' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
		</ng-container>
		<!-- Status Column -->
		<ng-container matColumnDef="status">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.STATUS' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<i *ngIf="element.status === true" class="flaticon2-accept mr-2"></i>
				<i *ngIf="element.status === false" class="flaticon2-cancel mr-2"></i>
			</mat-cell>
		</ng-container>
		<!-- Delete Module-->
		<ng-container matColumnDef="delete">
			<mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LABEL.ACTION' | translate }} </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<i class="flaticon2-edit mr-2" (click)="editModuleModalShow(editmodulemodal, element)"></i>
				<i class="flaticon2-trash" (click)="confirmDeleteModalShow(confirmdeletemodal, element)"></i>
			</mat-cell>
		</ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;">
		</mat-row>
	</mat-table>
	<mat-paginator [length]="totalLength"
		[pageSize]="pageSize"
		[pageSizeOptions]="pageLimit" (page)="changePage($event)" >
</mat-paginator>

	<!-- Apartir de aqui é o modal -->
	<!-- Modal Create Modulo -->
	<ng-template #createmodulemodal let-modal>
		<form [formGroup]="formData" (ngSubmit)="formSubmitAttempt=true; formData.valid && createModule(formData.value)">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-create-module">{{ 'GLOBAL.LABEL.CREATEMODULE' | translate }}</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="name">{{ 'GLOBAL.LABEL.NAME' | translate }}</label>
					<div class="input-group">
						<input required class="form-control" formControlName="name" [ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('name').invalid}">
					</div>
				</div>
				<div class="form-group">
					<label for="status">{{ 'GLOBAL.LABEL.STATUS' | translate }}</label>
					<div class="input-group">
						<mat-slide-toggle formControlName="status"></mat-slide-toggle>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" value="Criar" class="btn btn-outline-dark">
			</div>
		</form>
	</ng-template>
	<!-- Modal Edit Module -->
	<ng-template #editmodulemodal let-modal>
		<form [formGroup]="formData" (ngSubmit)="formSubmitAttempt=true; formData.valid && updateModule(formData.value)">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-edit-module">{{ 'GLOBAL.LABEL.TOEDIT' | translate }}
					{{formData.value.name}}</h4>
				<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" class="form-control" formControlName="_id">
				<div class="form-group">
					<label for="name">{{ 'GLOBAL.LABEL.NAME' | translate }}</label>
					<div class="input-group">
						<input class="form-control" formControlName="name" [ngClass]="{'is-invalid' : formSubmitAttempt && formData.get('name').invalid}">
					</div>
				</div>
				<div class="form-group">
					<label for="status">{{ 'GLOBAL.LABEL.STATUS' | translate }}</label>
					<div class="input-group">
						<mat-slide-toggle formControlName="status"></mat-slide-toggle>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<input type="submit" value="Salvar" class="btn btn-outline-dark">
			</div>
		</form>
	</ng-template>
</div>

<!-- Modal Delete -->
<ng-template #confirmdeletemodal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-delete-module">
			Confirmar exclusão</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body" class="btn btn-warning">
		{{ 'GLOBAL.LABEL.AREYOUSUREYOUWANTTODELETE' | translate }}
	</div>
	<div class="modal-footer">
		<button type="button" (click)="moduleIdToDelete=undefined; modal.dismiss('Cross click')" class="btn btn-secondary" data-dismiss="modal">{{ 'GLOBAL.LABEL.CANCEL' | translate }}</button>
		<button type="button" (click)="deleteModule() && modal.dismiss('Cross click')" class="btn btn-primary">{{ 'GLOBAL.LABEL.YES' | translate }}</button>
	</div>
</ng-template>
